# Ignore generated obj and src dirs
obj_*
src_*
# Ignore generated source
ext/*/capi/*Func.*
ext/*/perlapi/*Func.*
ext/*/capi/*DllCapi.*
ext/*/capi/*ClientCapi.C
ext/*/capi/*ClientEnums.H
ext/*/perlapi/*ClientPerlapi*
ext/*/pyapi/*ClientPyapi*
perlapi/ecmdClientPerlapiFunc.*
perlapi/ecmdClientPerlapiIterators.H
capi/ecmdClientCapiFunc.C
capi/ecmdClientEnums.H
capi/ecmdDllCapi.H
cmd/ecmdExtInterpreter.C
cmd/ecmdExtIncludes.i
cmd/ecmdExtInserts.i
