# Ignore generated obj and src dirs
obj_*
src_*
out_*
install
makefile.config
makefile.override
ecmd-core/pyecmd/__pycache__/

# We want to ignore any sub ecmd-* dirs, except the included ecmd-core
ecmd-*
!ecmd-core
